<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_CustomerReview>
            <version>0.1.0</version>
        </UltraDev_CustomerReview>
    </modules>

    <global>
        <helpers>
            <ultradev_customerreview>
                <class>UltraDev_CustomerReview_Helper</class>
            </ultradev_customerreview>
        </helpers>
        <blocks>
            <ultradev_customerreview>
                <class>UltraDev_CustomerReview_Block</class>
            </ultradev_customerreview>
        </blocks>
        <models>
            <ultradev_customerreview>
                <class>UltraDev_CustomerReview_Model</class>
            </ultradev_customerreview>
        </models>
    </global>

    <frontend>
        <routers>
            <ultradev_customerreview>
                <use>standard</use>
                <args>
                    <module>UltraDev_CustomerReview</module>
                    <frontName>siteconfiavel</frontName>
                </args>
            </ultradev_customerreview>
        </routers>
        <layout>
            <updates>
                <ultradev_customerreview>
                    <file>ultradev_customerreview.xml</file>
                </ultradev_customerreview>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <events>
            <admin_system_config_changed_section_ultradev_customerreview>
                <observers>
                    <ultradev_customerreview>
                        <class>ultradev_customerreview/observer</class>
                        <method>flushCache</method>
                    </ultradev_customerreview>
                </observers>
            </admin_system_config_changed_section_ultradev_customerreview>
        </events>
    </adminhtml>

    <default>
        <ultradev_customerreview>
            <general>
                <scope_store>1</scope_store>
            </general>
        </ultradev_customerreview>
    </default>
</config>
