<?xml version="1.0"?>
<config>
    <sections>
        <ultradev_customerreview translate="label" module="ultradev_customerreview">
            <label>UltraDev Customer Review</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <scope_store translate="label">
                            <label>Reviews Scope</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If "Yes", show reviews only from the current store view. If "No", aggregate reviews from all stores.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scope_store>
                    </fields>
                </general>
            </groups>
        </ultradev_customerreview>
    </sections>
</config>
